{% extends "layout/layout" %}

{% block title %}
    Dojo21 | Resultados chave
{% endblock title %}


{% block content %}
    <section class="mt-50 main-section-page">
        <h2 class="page-title">Meus Key objetivos</h2>

        <div class="adicionar">
            <a class="green pull-right" href="/objective/{{ $objective->getId() }}/key_results/add">Adicionar</a>
        </div>
        <table class="text-center table-control">
            <thead>
                <tr>
                    <th colspan="4">{{ $objective->getTitle() }}</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($keyResults as $keyResult): ?>
                    <tr style="border: 1px solid #ccc">
                        <td class="text-left">{{ $keyResult->getTitle() }}</td>
                        <td class="text-left">{{ $keyResult->formatType() }}</td>
                        <td class="text-left">{{ $keyResult->getDescription() }}</td>
                        <td class="text-left">
                            <a class="btn btn-table yellow" href="/objective/{{ $objective->getId() }}/key_results/{{ $keyResult->getId() }}/edit">Editar</a>
                            <a class="btn btn-table red delete" href="#" data-id="{{ $keyResult->getId() }}">Remover</a>
                        </td>
                    </tr>
                <?php endforeach ?>
            </tbody>
        </table>

        <br>
        <div class="voltar">
            <a href="/objective" class="btn btn-block">Voltar</a>
        </div>
    </section>


{% endblock content %}

{% block scripts %}
    <script src="{{ assets('js/key_results.js') }}?v={{ version() }}" type="text/javascript"></script>
{% endblock scripts %}
