{% extends "layout/layout" %}

{% block title %}
    Dojo21 | Adicionar objetivo
{% endblock title %}


{% block content %}
    <section class="text-center mt-10 main-section-page">
        <h2>Adicionar objetivo usuário</h2>
        <form method="POST" id="objective-form" class="form">
            <div class="text-left">
                <label class="input-label" for="title">Título</label>
                <input
                    class="input-control"
                    placeholder="Digite um título"
                    type="text"
                    name="title"
                    id="title"
                    value=""
                >
            </div>

            <div class="text-left">
                <label class="input-label" for="description">Descrição</label>
                <input
                    class="input-control"
                    placeholder="Descreva seu objetivo"
                    type="text"
                    id="description"
                    name="description"
                    value=""
                >
            </div>

            <div class="mt-20">
                <a href="#" id="save" class="btn btn-block">Enviar</a>

                <a href="/objective" class="btn btn-block" type="button">
                    Voltar
                </a>
            </div>
        </form>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="{{ assets('js/objective.js') }}?v={{ version() }}" type="text/javascript"></script>
{% endblock scripts %}
