{% extends "layout/layout" %}

{% block styles %}
    <link rel="stylesheet" href="{{ assets('css/objective.css') }}?v={{ version() }}">
{% endblock styles %}


{% block title %}
    Dojo21 | Editar objetivo
{% endblock title %}


{% block content %}
    <section id="okr" class="text-center">
        <h2>Editar objetivo</h2>
    </section>

    <section id="objectives" class="mt-50">
        <section id="okr" class="text-center mt-10">
            <form method="POST" id="objective-form-edit" class="form">
                <input type="hidden" name="objective_id" value="{{ $objective->getId() }}">

                <div class="">
                    <input
                        placeholder="Digite um título"
                        type="text"
                        name="title"
                        id="title"
                        value="{{ $objective->getTitle() }}"
                    >
                </div>

                <div class="">
                    <input
                        placeholder="Descreva seu objetivo"
                        type="text"
                        id="description"
                        name="description"
                        value="{{ $objective->getDescription() }}"
                    >
                </div>

                <div class="mt-20">
                    <a href="#" id="edit" class="btn" type="button">
                        Salvar
                    </a>

                    <a href="/objective" class="btn" type="button">
                        Voltar
                    </a>
                </div>
            </form>
        </section>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="{{ assets('js/objective.js') }}?v={{ version() }}" type="text/javascript"></script>
{% endblock scripts %}
