{% extends "layout/layout" %}

{% block styles %}
    <link rel="stylesheet" href="{{ assets('css/objective.css') }}?v={{ version() }}">
{% endblock styles %}


{% block title %}Dojo21 | Meus objetivos{% endblock title %}


{% block content %}
    <section id="okr" class="text-center">
        <h2>Meus objetivos</h2>
    </section>

    <section id="objectives" class="mt-50">

        <table class="text-center">
            <div id="adicionar" class="text-right">
                <a class="blue" href="/dashboard">Dashboard</a>
                <a class="green" href="/objective/add">Adicionar</a>
            </div>

            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($objectives as $objective): ?>
                    <tr style="border: 1px solid #ccc">
                        <td class="text-left">{{ $objective->getTitle() }}</td>
                        <td class="text-left">{{ $objective->getDescription() }}</td>
                        <td class="text-left">
                            <a class="yellow" href="/objective/{{ $objective->getId() }}/edit">Editar</a>
                            <a class="blue" href="/objective/{{ $objective->getId() }}/key_results">Resultados chave</a>
                            <?php if(!$objective->getKeyResults()): ?>
                                <a class="red delete" href="#" data-id="{{ $objective->getId() }}">Remover</a>
                            <?php endif ?>
                        </td>
                    </tr>
                <?php endforeach ?>
            </tbody>
        </table>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="{{ assets('js/objective.js') }}?v={{ version() }}" type="text/javascript"></script>
{% endblock scripts %}
